@charset "UTF-8";

/* TODAS AS DEMAIS */

/* Typical device breakpoints 

Extra small devices (phones): 600px and down
tablets: 601px – 768px
Laptops and small desktops: 1025px – 1280px
Large desktops and high-resolution screens: 1281px – 1440px
Extra-large desktops: 1441px and up
*/

@media print {
  * {
    font-family: "Courier New", Courier, monospace;
  }

  body {
    background-image: url(../imagens/back-print.jpg); /* impressora não imprime background */
    font-family: "Courier New", Courier, monospace;
  }

  main {
    width: 90vw;
    border: 2px solid black;
  }

  main h1 {
    text-shadow: none;
    color: black;
  }

  main::after {
    content: "Essa impressão foi feita através do site www.cursoemvide.com";
    text-decoration: overline;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: block;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: url(../imagens/back-pc.jpg);
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: block;
  }
  img#tv {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  main {
    width: 700px;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#print {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: block;
  }
}
